
/* 0 to 400px */
@media screen and (max-width:400px){
    body{
        background-color: lawngreen;
    }
}


/* 401 to 599 */
@media screen and (min-width: 401px){
    body{
        background-color: blueviolet;
    }
}

/* over 600px */
@media screen and (min-width:600px){
    body{
        background-color:darkred ;
    }
}