/* Flex container => Parent */
ul{
    background-color: palevioletred;
    padding: 20px;
    display: flex;  /*להעביר את זה מאחד מתחת לשני לאחד ליד השני */
    /* display: inline-flex; אם רוצים להוסיף שני יו אל אחד ליד השני מבטלים את display:flex */
  
    /* -------------------- (1) FLEX DIRECTION -------------------- */

    /* 1.1 */
    /* flex-direction: row; */

    /* 1.2 */
    /* flex-direction: row-reverse; */

    /* 1.3 */
    /* flex-direction: column; */

    /* 1.4 */
    /* flex-direction: column-reverse; */

    /* -------------------- (2) FLEX wrap -------------------- */

    /* 2.1 */
    /* flex-wrap: nowrap; */

    /* 2.2 */
    /* flex-wrap: wrap; */
    
    /* 2.3 */
    /* flex-wrap: wrap-reverse; */

   /* -------------------- (3) FLEX FLOW -------------------- */
   /* 3.1 */
   /* flex-flow: row wrap; */

   /* 3.2 */
   /* flex-flow: column wrap; */
   /* height: 300px; */

   /* 3.3 */
   /* flex-flow: row-reverse wrap; */

    /* 3.5 */
    /* flex-flow: column-reverse nowrap; */

       /* 3.1 */
   /* flex-flow: row nowrap; */

   /* 3.6 */
   /* flex-flow: column nowrap; */
   /* height: 300px; */

   /* 3.7 */
   /* flex-flow: row-reverse nowrap; */

    /* 3.8 */
    /* flex-flow: column-reverse nowrap; */

      /* -------------------- (4) justify content -------------------- */
    /* defult direction => row => main axis => horizontal */
    /* 4.1 */
    /* justify-content: flex-start;   */
     /* the top left called start */

     /* 4.2 */
     /* justify-content: flex-end; */
     /* the top right called end */

     /* 4.3 */
     /* justify-content: center; */
     /* flex-wrap: wrap; */  /*responsive */ 

     /* 4.4 */
    /* justify-content: space-between; */

    /* 4.5 */
    /* justify-content: space-around; */

    /* 4.6 */
    /* justify-content: space-evenly; */

    
      /* -------------------- (5) align items property -------------------- */
      /* height: 300px; */

      /* 5.1 */
      /* align-items: stretch; */

      /* 5.2 */
      /* align-items: flex-start; */

      /* 5.3 */
     /* align-items: flex-end; */

    /* 5.4 */
    /* align-items: center; */

    /* 5.5 */
    /* align-items: baseline; */

}

/* Flex Items => Childrens */
li{
    list-style: none;
    color: wheat;
    background-color: violet;
    padding: 10px;
    margin: 20px;
    width: 100px;
    text-align: center;
    /* padding-top: 20px; */  /* align-items: baseline; */ 
    /* padding-bottom: 20px; */  /*align-items: baseline; */
}

li:first-child {
    /*  padding: 5px;  */  /*align-items: baseline; */  
}
